---
import { ClientRouter } from 'astro:transitions'
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'

interface Props {
	title?: string
	description?: string
}

const {
	title = 'Kavitha Singuluri Advocate & Associates',
	description = 'Advocate Kavitha Singuluri is a dedicated legal professional based in Chennai, India. With expertise in banking laws, finance and corporate laws, property law, family law, and civil litigation, she provides personalized legal solutions to individuals and businesses.',
} = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:type" content="website" />
		<meta property="og:image" content="assets/law.webp" />
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content={title} />
		<meta name="twitter:description" content={description} />
		<meta name="twitter:image" content="assets/law.webp" />
		<title>{title}</title>
		<ClientRouter />
	</head>
	<body class="bg-white text-gray-800 antialiased">
		<Header />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>
